.about {
    justify-content: center;
    align-items: center;
}

.about-info {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 50px;
}

.about-technologies {
    justify-content: center;
    align-items: center;
    display: block;
}

.about-technologies-col {
    justify-content: center;
    align-items: center;
    display: flex;
}

.about-image {
    width: 500px;
    height: 200px;
}

.about-p {
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

