.wallet-details {
    width: 80%;
    justify-content: center;
    height: 350px;
    margin: 0 auto;
}

.wallet {
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.wallet-search {
    margin-top: 50px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.wallet-input {
    padding-left: 16px;
    width: 450px;
    height: 30px;
    border-radius: 4px;
    border: 2px solid #a3a3a3;
    background: #eae0ff;
    color: black;
    font-size: 18px;
    font-weight: 300;
    margin-right: 20px;
}

.wallet-btn:hover {
    background-color: #8759f2;
}

.wallet-info {
    height: 200px;
    justify-content: center;
    align-items: center;
}

.wallet-info-main {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 5rem;
}

.wallet-info span {
    display: inline-block;
    margin-right: 20px;
    margin-right: 30px;
}