
  
.coin-search {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coin-text {
    margin-bottom: 32px;
    text-align: center;
}

.coin-input {
    padding-left: 16px;
    width: 300px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: #e2e2e2;
    font-size: 18px;
    font-weight: 300;
}

